################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GabrielBargas.Clientes.Database/obj/Debug
